@charset "UTF-8";

/*
    id em HTML = # em CSS
    class em HTML = , em css
*/

body{
    background-color: #9AD1D4;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #20063B;
    text-align: center;
}

#principal{
    text-align: center;
    background-color: #62C370;
    color: #20063B;
}

h2{
    color: rgb(6, 104, 6);
}

.basico{ color: rgb(61, 138, 61);}

.intermediario{ color: rgb(137, 138, 61);}

.avancado{ color: rgb(138, 61, 61);}

.destaque{ background-color: #C2F9BB;}

p{
    text-align: justify;
    text-indent: 2em;
}