@charset "UTF-8";

body.index{
    position: relative;
    background-color: black;
    background-image: url('pacote-d013/imagens/fundo-madeira.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div#celular{
    position: absolute;
    height: 630px;
    width: 320px;
    left: 50%;
    right: 50%;
    transform: translate(-50%,25%);
    background-position: center center;
    background-image: url('pacote-d013/imagens/frame-iphone.png');
    background-repeat: no-repeat;
}

iframe{
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%,50%);
    width: 270px;
    height: 475px;
}

nav{
    position: absolute;
    width: 80px;
    height: 480px;
    left: 96%;
    right: 50%;
    transform: translate(-50%,5%);
}

img.logos{
    align-self: center;
    margin: auto;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
    border-radius: 3em;
}

img.logos:hover{
   width: 80px;
   height: 80px;
}

body.telas{
    padding: 0px;
    margin: 0px;
    background-color: rgb(48, 204, 48);
}

div.botao{
    width: 255px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

div.botao > a{
    text-decoration: none;
    color: white;
}

div.botao > a:hover{
    color: black;
}