@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

header{
    height: 20vw;
    background-color: black;
    text-align: center;
}

.destaque{
    font-family: 'Passion One', sans-serif;
    color: white;
    font-weight: lighter;
}

h1{
    padding-top: 30px;
    font-size: 8vw;
}

h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 2.5vw;
}

a{
    text-decoration: none;
}

body{
    background-color: black;
}

#flor{
    position: relative;
    width: 100vw;
    height: 100vw;
    background-image: url('imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#livro{
    width: 100vw;
    height: 100vw;
    background-image: url('imagens/background002.jpg');
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.branco{
    width: 100%;
    height: auto;
    background-color: white;
    padding: 80px 40px 80px 40px;

}

p{
    font-family: 'Sriracha', sans-serif;
    font-size: 3vw;
}

.transparente{
    position: absolute;
    width: 40%;
    height: auto;
    transform: translate(0,50%);
    background-color: rgba(0, 0, 0, 0.247);
    color: white;
    padding: 80px 40px 80px 40px;
}