@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

header{
    height: 20vw;
    background-color: black;
    text-align: center;
}

.destaque{
    font-family: 'Passion One', sans-serif;
    color: white;
    font-weight: lighter;
}

h1{
    padding-top: 30px;
    font-size: 8vw;
}

h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 2.5vw;
}

a{
    text-decoration: none;
}

body{
    background-color: aquamarine;
}