@charset "UTF-8";
*{
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #13678A;
    text-align: center;
    text-shadow: 1px 1px 2px #082f3f9d;
}

h2{
    color: #45C4B0;
}

p{
    text-align: justify;
}

body{
    background-image: linear-gradient(to right, #DAFDBA, #9AEBA3);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #13678A;
    width: 600px;
    padding: 10px;
    margin: auto;
}